In [36]:
import requests
import json
import pandas as pd

# Odoo server information

In [37]:
url = 'https://bunker2.odoo.com/jsonrpc'
db = 'bunker2'
username = 'bizops@bunkertech.id'
password = 'Bunker354'

In [38]:
headers = {'Content-Type': 'application/json'}

# Authentication payload
payload = {
    "jsonrpc": "2.0",
    "method": "call",
    "params": {
        "service": "common",
        "method": "login",
        "args": [db, username, password],
    },
    "id": 1,
}

response = requests.post(url, data=json.dumps(payload), headers=headers)
uid = response.json().get("result")

if uid:
    print("Successfully authenticated. UID:", uid)
else:
    print("Authentication failed.")

Successfully authenticated. UID: 2

In [39]:
data_payload = {
    "jsonrpc": "2.0",
    "method": "call",
    "params": {
        "service": "object",
        "method": "execute_kw",
        "args": [
            db, uid, password,
            'res.partner',  # Model
            'search_read',  # Method
            [],  # Domain (empty array for all records)
            {'fields': ['name', 'email', 'phone']}  # Fields to fetch
        ],
    },
    "id": 2,
}
response = requests.post(url, data=json.dumps(data_payload), headers=headers)
data = response.json().get("result", [])

print("Fetched data:", data)

Fetched data: [{'id': 1, 'name': 'Bunker', 'email': 'bizops@bunkertech.id', 'phone': '08222587'}, {'id': 3, 'name': 'Business Operation', 'email': 'bizops@bunkertech.id', 'phone': False}, {'id': 7, 'name': 'Daniel', 'email': 'danielsaputro@bunkertech.id', 'phone': False}, {'id': 10, 'name': 'PLN', 'email': False, 'phone': False}, {'id': 9, 'name': 'Rizky', 'email': 'amaryadi@bunkertech.id', 'phone': False}, {'id': 8, 'name': 'Syafrie', 'email': 'syafrie@bunkertech.id', 'phone': False}]

In [40]:

domain = []  # Adjust your search domain as needed
fields = ['date', 'name', 'debit', 'credit', 'balance', 'account_id']
headers = {'Content-Type': 'application/json'}

# Authentication payload
payload = {
    "jsonrpc": "2.0",
    "method": "call",
    "params": {
        "service": "common",
        "method": "login",
        "args": [db, username, password],
    },
    "id": 1,
}

response = requests.post(url, data=json.dumps(payload), headers=headers)
uid = response.json()["result"]

# Fetching data payload
data_payload = {
    "jsonrpc": "2.0",
    "method": "call",
    "params": {
        "service": "object",
        "method": "execute_kw",
        "args": [db, uid, password, 'account.move.line', 'search_read', [domain], {'fields': fields}],
    },
    "id": 2,
}

response = requests.post(url, data=json.dumps(data_payload), headers=headers)
data = response.json()["result"]

# Printing fetched data
df  = pd.DataFrame(data)
df

,id,date,name,debit,credit,balance,account_id
0,12,2024-02-23,sales,5.550000e+06,0.000000e+00,5.550000e+06,"[55, 11210010 Account Receivable]"
1,13,2024-02-23,sales,0.000000e+00,5.500000e+05,-5.500000e+05,"[85, 21221020 VAT Sales]"
2,14,2024-02-23,sales,0.000000e+00,5.000000e+06,-5.000000e+06,"[110, 41000010 Sales]"
3,15,2024-02-23,sales,4.000000e+06,0.000000e+00,4.000000e+06,"[58, 11300180 Other Inventory]"
4,16,2024-02-23,sales,0.000000e+00,4.000000e+06,-4.000000e+06,"[113, 51000010 Cost of Goods Sold]"
5,4,2024-02-22,AR,1.110000e+07,0.000000e+00,1.110000e+07,"[54, 11120004 Bank]"
6,5,2024-02-22,AR,0.000000e+00,1.110000e+07,-1.110000e+07,"[55, 11210010 Account Receivable]"
7,25,2024-02-21,Customer Payment Rp 0.00 - 02/21/2024,0.000000e+00,0.000000e+00,0.000000e+00,"[158, 11120007 Outstanding Receipts]"
8,26,2024-02-21,Customer Payment Rp 0.00 - 02/21/2024,0.000000e+00,0.000000e+00,0.000000e+00,"[55, 11210010 Account Receivable]"
9,27,2024-02-21,Utilities,3.500000e+06,0.000000e+00,3.500000e+06,"[159, 11120008 Outstanding Payments]"
10,28,2024-02-21,Utilities,0.000000e+00,3.500000e+06,-3.500000e+06,"[119, 63110080 Electricity]"
11,6,2024-02-21,sales,1.110000e+07,0.000000e+00,1.110000e+07,"[55, 11210010 Account Receivable]"
12,7,2024-02-21,sales,0.000000e+00,1.000000e+07,-1.000000e+07,"[110, 41000010 Sales]"
13,8,2024-02-21,sales,0.000000e+00,1.100000e+06,-1.100000e+06,"[85, 21221020 VAT Sales]"
14,9,2024-02-21,ubi celembu,0.000000e+00,1.000000e+07,-1.000000e+07,"[110, 41000010 Sales]"
15,10,2024-02-21,11%,0.000000e+00,1.100000e+06,-1.100000e+06,"[85, 21221020 VAT Sales]"
16,11,2024-02-21,INV/2024/00001,1.110000e+07,0.000000e+00,1.110000e+07,"[55, 11210010 Account Receivable]"
17,23,2024-02-20,"Vendor Payment Rp 3,500,000.00 - 02/20/2024",0.000000e+00,3.500000e+06,-3.500000e+06,"[159, 11120008 Outstanding Payments]"
18,24,2024-02-20,"Vendor Payment Rp 3,500,000.00 - 02/20/2024",3.500000e+06,0.000000e+00,3.500000e+06,"[75, 21100010 Trade Receivable]"
19,17,2024-02-04,purchase,1.000000e+08,0.000000e+00,1.000000e+08,"[113, 51000010 Cost of Goods Sold]"
20,18,2024-02-04,purchase,1.100000e+07,0.000000e+00,1.100000e+07,"[84, 21221010 VAT Purchase]"
21,19,2024-02-04,purchase,0.000000e+00,5.000000e+07,-5.000000e+07,"[54, 11120004 Bank]"
22,20,2024-02-04,purchase,0.000000e+00,6.100000e+07,-6.100000e+07,"[75, 21100010 Trade Receivable]"
23,21,2024-02-01,Equity,1.000000e+09,0.000000e+00,1.000000e+09,"[54, 11120004 Bank]"
24,22,2024-02-01,Equity,0.000000e+00,1.000000e+09,-1.000000e+09,"[103, 31100020 Paid Capital]"

In [44]:
models_payload = {
        "jsonrpc": "2.0",
        "method": "call",
        "params": {
            "service": "object",
            "method": "execute_kw",
            "args": [
                db, uid, password,
                'ir.model', 'search_read',
                [], ['model', 'name']
            ],
        },
        "id": 2,
    }
response = requests.post(url, headers=headers, data=json.dumps(models_payload))
report_data = response.json().get("result")
for model in report_data:
        print(f"Model: {model['model']}, Name: {model['name']}")

TypeError: 'NoneType' object is not iterable